*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    padding: 20px;
}

button{
    cursor: pointer;
}

input{
    line-height: normal;
}

.image-slider{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    padding-left: 200px;
    padding-right: 200px;
}

.image-item{
    height: 550px;
    width: 328px;
    background-color: #265A54;
    margin: 0 10px;
}

.star{
    background: url(/page/asset/icon/akar-icons_star.svg) center / contain ;
    height: 20px;
    width: 70px;
}


.image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 20px;

}
.image{
    height: 250px;
    /* margin-bottom: 20px; */
}


.image-title{
    font-size: 20px;
    color: #FFF;
}

.slick-initialized .slick-slider{
    margin: 0 10px;
}

.date,.Lorem, .image-title{
    color: #FFF;
    padding: 10px 25px;
font-family: Poppins;
}

.date{
font-size: 14px;
font-weight: 250;
}

.Lorem{
    font-size: 16px;
    font-weight: 400;
}